# bin folders
bin/autos/
bin/debug.html
bin/graphics/
bin/pref
bin/savagewheels
bin/sound/

# build
debug/*
release/*
libs/*

# ide
.classpath
.settings/*
.project
compile_commands.json
nbproject/*

# src
src/Config.h

# others
debug.html


